html {
  scroll-behavior: smooth; /* agar ketika klik link di daftar isi dan pindah ke element yang dituju, perpindahannya menjadi lebih smooth*/
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
}

li a {
  transition: all 0.5s ease-in-out;
}

h1, h2, h3 {
  color: #333;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

a {
  color: #007bff;
  text-decoration: none;
}


div {
  background-color: #42424249;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ol {
  margin-bottom: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


